.testContainer {
  height: 2000px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 67px;
  background-color: #212123;
  border-radius: 20px;
  height: 600px;
}


#title {
  margin: 0px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: margin 0.5s ease;
}

.textTitle {
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
  color: #787878;
  transition: color 0.5s ease;
}

.textParagraph {
  margin: 0px;
  font-size: 20px;
  color: white;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  max-height: 0;
  overflow: hidden;
}

.fokusParagraphTitle {
  color: #fff;
}

.showParagraphText {
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px; 
}

.textContainer.showParagraph {
  margin-bottom: 50px; 
}
